.playerListPlayerProfileImg {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.playerListSoldTeamImg {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.playerListTeamProfileImg {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
